<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Bienvenido al proyecto Simplicity</title>
    </head>
    <body>

		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><spam>Estimado Experto/a. {{ apellido }},</spam></p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><spam>Como sabe, una parte fundamental del proyecto Simplicity consiste en contestar a dos cuestionarios:</spam></p>
		
		<ul>
			<li style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><strong>Cuantitativo:</strong> nos permitir&aacute; <strong>valorar los beneficios derivados de la simplificaci&oacute;n del tratamiento con los nuevos AADs en la pr&aacute;ctica cl&iacute;nica habitual.</strong> <u>El cuestionario cuantitativo estar&aacute; disponible del ## al ## de XX</u><br><br></li>
			<li style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>
				<strong>Cualitativo:</strong> nos permitir&aacute; obtener <strong>las conclusiones sobre el beneficio que aporta la simplificaci&oacute;n del tratamiento en diferentes indicadores de la hepatitis C.</strong> Se trata de un cuestionario tipo Delphi en el que se contesta de forma an&oacute;nima por los expertos donde reflejar&aacute;n su grado de acuerdo o de desacuerdo con las preguntas planteadas. Se desarrolla en dos rondas de respuesta:<br><br>
				<ul>
					<li style='font-family:"Arial","sans-serif";'>La <u>primera ronda</u>  se contestar&aacute; a las preguntas mostrando el grado de acuerdo del 1 al 5 (siendo 1 totalmente desacuerdo y 5 totalmente de acuerdo). <u>Esta primera ronda estar&aacute; disponible del ## al ## de XX.</u><br><br></li>
					<li style='font-family:"Arial","sans-serif";'>La <u>segunda ronda</u> se contestar&aacute; a las preguntas conociendo los resultados de la primera ronda y ser&aacute;n preguntas m&aacute;s concisas en aras conseguir un mayor grado de consenso. <u>Esta segunda ronda estar&aacute; disponible del ## al ## de XX.</u><br><br></li>
				</ul>
			</li>
			<li style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Finalmente se proceder&aacute; al an&aacute;lisis de los resultados obtenidos y se presentar&aacute;n en la <strong>Reuni&oacute;n Nacional.</strong></li>
		</ul>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Ambos cuestionarios estar&aacute;n disponibles en la web del proyecto Simplicity (www.proyectosimplicity.es). Sus credenciales de acceso son: </p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><strong>Usuario:</strong> {{ user }}<br><strong>Contrase&ntilde;a:</strong> {{ password }}</p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Muchas gracias por su colaboraci&oacute;n, </p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>{{ footer | raw }}</p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Plaza de la Encina 10-11 N&uacute;cleo 5 1&ordm; – Tres Cantos – 28760 – Madrid<br>
  			www.clover-sgm.es<br>
			91 803 72 79<br>
  			91 803 05 89<br> 
  			@CloverSGM 
		</p>
		<p style='font-size:0.8em;font-family:"Arial","sans-serif";'>Los datos de car&aacute;cter personal que pudieran ser facilitados mediante correo electr&oacute;nico quedar&aacute;n registrados en sendos ficheros titularidad de Clover SGM, con la finalidad de contestar las eventuales consultas y obtener datos estad&iacute;sticos de las mismas, pudiendo ejercitar los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n mediante escrito dirigido a Clover SGM de acuerdo con lo dispuesto por la legislaci&oacute;n vigente.</p>
		<p style='font-size:0.8em;font-family:"Arial","sans-serif";'>This message contains information that may be privileged or confidential and is the property of Clover SGM. It is intended only for the person to whom it is addressed. If you are not the intended recipient, you are not authorized to read, print, retain, copy, disseminate, distribute, or use this message or any part thereof. If you receive this message in error, please notify the sender immediately and delete all copies of this message.</p>
		<p style='font-size:0.8em;font-family:"Arial","sans-serif";'>Q Antes de imprimir este mensaje, aseg&uacute;rate de que es necesario. Proteger el medio ambiente est&aacute; tambi&eacute;n en tu mano</p>
</body>
