<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; charset=utf-8"><meta name=Generator content="Microsoft Word 14 (filtered medium)"><title> </title><style><!--
/* Font Definitions */
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"Century Gothic";
	panose-1:2 11 5 2 2 2 2 2 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h2
	{mso-style-priority:9;
	mso-style-link:"Título 2 Car";
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	font-size:18.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
h3
	{mso-style-priority:9;
	mso-style-link:"Título 3 Car";
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	font-size:13.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:purple;
	text-decoration:underline;}
p
	{mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-priority:99;
	mso-style-link:"Texto de globo Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.Ttulo2Car
	{mso-style-name:"Título 2 Car";
	mso-style-priority:9;
	mso-style-link:"Título 2";
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;}
span.Ttulo3Car
	{mso-style-name:"Título 3 Car";
	mso-style-priority:9;
	mso-style-link:"Título 3";
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;}
span.EstiloCorreo21
	{mso-style-type:personal-reply;
	font-family:"Century Gothic","sans-serif";
	color:#1F497D;
	font-weight:normal;
	font-style:normal;}
span.TextodegloboCar
	{mso-style-name:"Texto de globo Car";
	mso-style-priority:99;
	mso-style-link:"Texto de globo";
	font-family:"Tahoma","sans-serif";}
.MsoChpDefault
	{mso-style-type:export-only;
	font-size:10.0pt;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:70.85pt 3.0cm 70.85pt 3.0cm;}
div.WordSection1
	{page:WordSection1;}
--></style><!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]--></head>
	<body lang=ES link=blue vlink=purple><div class=WordSection1><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'><div align=center><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600 style='width:450.0pt'><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'></td></tr></table></td></tr><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'><div align=center><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%' id=emailBody><tr><td colspan=3 valign=top style='padding:15.0pt 15.0pt 15.0pt 15.0pt'>		
		
		<p><span style='font-family:"Arial","sans-serif";>Estimado Experto/a. {{ apellido }},<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";>Como sabe, una parte fundamental del proyecto Simplicity consiste en contestar a dos cuestionarios:<o:p></o:p></span></p>
		<ul>
			<li><span style='font-family:"Arial","sans-serif";><strong>Cuantitativo:</strong> nos permitir&aacute; <strong>valorar los beneficios derivados de la simplificaci&oacute;n del tratamiento con los nuevos AADs en la pr&aacute;ctica cl&iacute;nica habitual.</strong> <u>El cuestionario cuantitativo estar&aacute; disponible del ## al ## de XX</u><br><br><o:p></o:p></span></li>
			<li>
				<span style='font-family:"Arial","sans-serif";><strong>Cualitativo:</strong> nos permitir&aacute; obtener <strong>las conclusiones sobre el beneficio que aporta la simplificaci&oacute;n del tratamiento en diferentes indicadores de la hepatitis C.</strong> Se trata de un cuestionario tipo Delphi en el que se contesta de forma an&oacute;nima por los expertos donde reflejar&aacute;n su grado de acuerdo o de desacuerdo con las preguntas planteadas. Se desarrolla en dos rondas de respuesta:<br><br><o:p></o:p></span>
				<ul>
					<li><span style='font-family:"Arial","sans-serif";>La <u>primera ronda</u>  se contestar&aacute; a las preguntas mostrando el grado de acuerdo del 1 al 5 (siendo 1 totalmente desacuerdo y 5 totalmente de acuerdo). <u>Esta primera ronda estar&aacute; disponible del ## al ## de XX.</u><br><br><o:p></o:p></span></li>
					<li><span style='font-family:"Arial","sans-serif";>La <u>segunda ronda</u> se contestar&aacute; a las preguntas conociendo los resultados de la primera ronda y ser&aacute;n preguntas m&aacute;s concisas en aras conseguir un mayor grado de consenso. <u>Esta segunda ronda estar&aacute; disponible del ## al ## de XX.</u><br><br><o:p></o:p></span></li>
				</ul>
			</li>
			<li><span style='font-family:"Arial","sans-serif";>Finalmente se proceder&aacute; al an&aacute;lisis de los resultados obtenidos y se presentar&aacute;n en la <strong>Reuni&oacute;n Nacional.</strong><o:p></o:p></span></li>
		</ul>
		
		<p><span style='font-family:"Arial","sans-serif";>Ambos cuestionarios estar&aacute;n disponibles en la web del proyecto Simplicity (www.proyectosimplicity.es). Sus credenciales de acceso son: <o:p></o:p></span></p>

		<p><strong><span style='font-family:"Arial","sans-serif"'>Usuario:</span></strong><span style='font-family:"Arial","sans-serif"'> {{ user }}<br><strong><span style='font-family:"Arial","sans-serif"'>Contraseña:</span></strong> {{ password }}<o:p></o:p></span></p>
		
		<p><span style='font-family:"Arial","sans-serif";>Muchas gracias por su colaboraci&oacute;n,<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";>Proyecto Simplicity.<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";><strong><span style='font-family:"Arial","sans-serif"'>Juan Mart&iacute;nez Triguero<br>
			Gestor de Proyectos<br>
			Project Manager<br>
   			Juan.martinez@clover-sgm.es<br>
  			+34 682 54 99 49</span></strong><o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";>Plaza de la Encina 10-11 N&uacute;cleo 5 1&ordm; – Tres Cantos – 28760 – Madrid<br>
  			www.clover-sgm.es<br>
			91 803 72 79<br>
  			91 803 05 89<br> 
  			@CloverSGM<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";font-size:0.8em;'>Los datos de car&aacute;cter personal que pudieran ser facilitados mediante correo electr&oacute;nico quedar&aacute;n registrados en sendos ficheros titularidad de Clover SGM, con la finalidad de contestar las eventuales consultas y obtener datos estad&iacute;sticos de las mismas, pudiendo ejercitar los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n mediante escrito dirigido a Clover SGM de acuerdo con lo dispuesto por la legislaci&oacute;n vigente.<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";font-size:0.8em;'>This message contains information that may be privileged or confidential and is the property of Clover SGM. It is intended only for the person to whom it is addressed. If you are not the intended recipient, you are not authorized to read, print, retain, copy, disseminate, distribute, or use this message or any part thereof. If you receive this message in error, please notify the sender immediately and delete all copies of this message.<o:p></o:p></span></p>
		<p><span style='font-family:"Arial","sans-serif";font-size:0.8em;'>Q Antes de imprimir este mensaje, aseg&uacute;rate de que es necesario. Proteger el medio ambiente est&aacute; tambi&eacute;n en tu mano<o:p></o:p></span></p>
	</td></tr><tr><td width=200 style='width:150.0pt;padding:15.0pt 15.0pt 15.0pt 15.0pt'><p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<o:p></o:p></p></td><td style='padding:15.0pt 15.0pt 15.0pt 15.0pt'><p class=MsoNormal align=center style='text-align:center'><span style='font-size:10.5pt;font-family:"Arial","sans-serif"'>Entra<span style='color:#1F497D'>r</span> a XXXXX</span><o:p></o:p></p></td><td width=200 style='width:150.0pt;padding:15.0pt 15.0pt 15.0pt 15.0pt'><p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<o:p></o:p></p></td></tr><tr><td colspan=3 style='padding:15.0pt 15.0pt 15.0pt 15.0pt'></td></tr></table></div></td></tr><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'><div align=center><table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%' id=emailFooter><tr><td valign=top style='padding:0cm 0cm 0cm 0cm'><p class=MsoNormal><o:p>&nbsp;</o:p></p><p style='margin-top:0cm;text-align:justify'><span style='font-size:7.5pt;font-family:"Arial","sans-serif"'>Los datos de carácter personal que pudieran ser facilitados mediante correo electrónico quedarán registrados en un fichero responsabilidad de  con la finalidad de gestionar su participación en , pudiendo ejercitar los derechos de acceso, rectificación, cancelación y oposición mediante escrito dirigido S.A. de acuerdo con lo dispuesto por la legislación vigente.<o:p></o:p></span></p></td></tr></table></div></td></tr></table></div></td></tr></table><p class=MsoNormal><o:p>&nbsp;</o:p></p></div></body></html>