{# app/Resources/views/default/nocorrejir.html.twig #}
{% extends '/default/cuestionariobase.html.twig' %}

{% block body %}

	<p class="text-center send-ok">
		Este cuestionario ya ha sido completado y enviado.
	</p>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<a href="/" class="btn btn-lg btn-sample btn-block" style="margin-bottom:20px;">Volver a la pagina principal</a>
	</div>
	
{% endblock %}
