<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

		{% block body %}
		{% endblock %}
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Muchas gracias por su colaboraci&oacute;n. </p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'>Proyecto Simplicity,<br> una iniciativa cient&iacute;fica de Gilead</p>

		<p style='font-size:0.7em;font-family:"Arial","sans-serif";'>Los datos de car&aacute;cter personal que pudieran ser facilitados mediante correo electr&oacute;nico quedar&aacute;n registrados en sendos ficheros titularidad de Clover SGM, con la finalidad de contestar las eventuales consultas y obtener datos estad&iacute;sticos de las mismas, pudiendo ejercitar los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n mediante escrito dirigido a Clover SGM de acuerdo con lo dispuesto por la legislaci&oacute;n vigente.</p>
		<p style='font-size:0.7em;font-family:"Arial","sans-serif";'>This message contains information that may be privileged or confidential and is the property of Clover SGM. It is intended only for the person to whom it is addressed. If you are not the intended recipient, you are not authorized to read, print, retain, copy, disseminate, distribute, or use this message or any part thereof. If you receive this message in error, please notify the sender immediately and delete all copies of this message.</p>
		<p style='font-size:0.7em;font-family:"Arial","sans-serif";'>Antes de imprimir este mensaje, aseg&uacute;rate de que es necesario. Proteger el medio ambiente est&aacute; tambi&eacute;n en tu mano</p>
</body>
</html>