{% extends '/email/emailbase.html.twig' %}

{% block title %}Nueva contrase&ntilde;a{% endblock %}
{% block body %}

		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><spam>Estimado/a Sr./Sra. {{ apellido }}</spam></p>
		<p style='line-height: 120%;font-size:0.9em;font-family:"Arial","sans-serif";'><spam>Adjunto a este e-mail puede encontrar un resumen de sus respuestas al cuestionario.</spam></p>

{% endblock %}