{# app/Resources/views/security/contrasena.html.twig #}
{% extends '/security/securitybase.html.twig' %}

{% block body %}
	<h4 class="text-center send-ok">Se ha enviado la nueva contrase&ntilde;a a su e-mail</h4>
	<a href="login" class="btn btn-lg btn-sample btn-block" style="margin:20px 0;">Volver a la pagina de login</a>
{% endblock %}